@import "helpers/variables"
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|PT+Sans:400,700&subset=cyrillic')

html, body
	font-size: $font-size
	line-height: $line-height
	font-family: $main-font
